<h1 class="single_first"><%= @contact.name %></h3><br />

<p class="contact_view">email: <%= @contact.email %></p>
<p class="contact_view">twitter: <%= @contact.twitter %></p>
<p class="contact_view">phone: <%= @contact.number %></p>
<p class="contact_view">notes: <%= @contact.notes %></p>