<p><%= link_to edit_contact_path do %>
	<strong><%= @contact.name %></strong><br />
	<% end %>

email: <%= @contact.email %><br />
twitter: <%= @contact.twitter %><br />
phone: <%= @contact.number %></p>
notes: <%= @contact.notes %>