<!DOCTYPE html>
<html>
<head>
  <title>CrmApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bigbody">
	<% if flash[:notice] %>
		<p id="alert"><%= flash[:notice] %></p>
		<hr />
	<% end %>
	<% if flash[:alert] %>
		<p id="alert"><%= flash[:alert] %></p>
		<hr />
	<% end %>
<h1> The Butt Ugly CRM</h1>

<%= yield %>

	<hr />
	<p class="userinfo">
		<% if current_user %>
			Signed in as <%= link_to current_user.name, controller: "users", action: "show", id: current_user.id %>. <%= link_to "Log Out", session_path("current"), :method => :delete %>
		<% else %>
			<%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
		<% end %>
	</p>
	<footer>
	<p class="foot_note">Design inspired by the art of <a href="https://www.google.ca/search?q=barbara+kruger+art">Barbara Kruger</a></p>
</footer>
</body>
</html>
